:root {
  --primary: #9db2bf;
  --bg: #dde6ed;
  --clr1: #526d82;
  --clr2: #0097c5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--bg);
  color: #27374d;
  /* min-height: 5000px; */
}

/* navbar */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 4%;
  background-color: rgba(221, 230, 237, 0.8);
  border-bottom: 1px solid var(--primary);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.header .logo h1 {
  font-size: 2rem;
  font-weight: 700;
  color: #27374d;
}

.header .logo span {
  color: #0097c5;
  font-style: italic;
}

.header .navbar-logo {
  font-size: 2rem;
  font-weight: 700;
  color: #27374d;
}

.header .navbar-logo span {
  color: #0097c5;
  font-style: italic;
}

.header .navbar-nav a {
  color: #27374d;
  display: inline-block;
  font-size: 1.1rem;
  margin: 1rem;
}

.header .navbar-nav a:hover {
  color: var(--clr2);
  transition: 0.5s;
}

.header .navbar-extra a {
  color: #27374d;
  margin: 0 0.5rem;
}

.header .navbar-extra a:hover {
  color: var(--clr2);
  transition: 0.5s;
}

#hamburger-menu {
  display: none;
}

/* Hero Section */
.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url("../img/MRI\ machine\ dark.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 30%;
  bottom: 0;
  background: linear-gradient(
    0deg,
    rgba(221, 230, 237, 1) 2%,
    rgba(255, 255, 255, 0) 50%
  );
}

.hero .content {
  padding: 1.4rem 7%;
  max-width: 60rem;
}

.hero .content h1 {
  font-size: 2rem;
  color: #dde6ed;
  line-height: 1.4;
}

.hero .content h1 span {
  color: #dde6ed;
}

.hero .content p {
  font-size: 1rem;
  color: #dde6ed;
  margin-top: 1rem;
  line-height: 1.8;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.hero .content .cta {
  margin-top: 1rem;
  display: inline-block;
  padding: 0.8rem 2rem;
  font-size: 1.2rem;
  color: #dde6ed;
  background-color: #0097c5;
  border-radius: 0.8rem;
}

/* About Section */
.about,
.contact {
  padding: 10rem 7% 1.4rem;
}

.about h2 span,
.contact h2 span {
  color: #0097c5;
}

.about h2,
.contact h2 {
  text-align: center;
  font-size: 2.4rem;
  margin-bottom: 1rem;
}

.about .row {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1rem;
  justify-content: center;
}

.about-img img {
  border-radius: 50%;
  width: 20%;
  margin-bottom: 1rem;
}

.about .row .about-img {
  text-align: center;
  width: 50rem;
}

.about .row .about-img h3 {
  text-align: center;
  margin-bottom: 1rem;
}

.about .row .about-img p {
  line-height: 1.8rem;
}
/* Contact Section */
.contact .row {
  display: flex;
  margin-top: 2rem;
  background-color: #27374d;
  /* flex-wrap: wrap; */
}

.contact p {
  text-align: center;
  font-size: 1rem;
  margin-bottom: 1rem;
}
.contact .row .map {
  flex: 1 1 45rem;
  width: 100%;
  object-fit: cover;
}

.contact .row form {
  flex: 1 1 40rem;
  padding: 2rem 4rem;
  text-align: center;
}

.contact .row form .input-group {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  background-color: #dde6ed;
  padding-left: 2rem;
  /* border: 3px solid #0097c5; */
}

.contact .row form .input-group input {
  width: 100%;
  padding: 2rem;
  font-size: 1.5rem;
  background: none;
  color: #27374d;
}

.contact .row form button {
  margin-top: 2rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.5rem;
  color: #dde6ed;
  background-color: #0097c5;
  cursor: pointer;
}

/* footer */
footer {
  background-color: #27374d;
  text-align: center;
  padding: 1rem 0;
  margin-top: 3rem;
}

footer .socials {
  padding: 1rem 0;
}

footer .socials a {
  color: #dde6ed;
  margin: 1rem;
}

footer .socials a :hover {
  color: #0097c5;
}

footer .credit {
  color: #dde6ed;
}

footer .credit a {
  color: #dde6ed;
}

/* Scan Section */
.halaman-scan {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Menyesuaikan tinggi elemen */
}
.scan {
  background-color: #f0f0f0; /* Warna latar belakang */
  padding: 30px;
  border-radius: 5px; /* Sudut lengkung border */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Efek bayangan */
  text-align: center;
}

.scan h1 {
  margin-bottom: 20px; /* Jarak bawah judul */
}

.scan form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px; /* Jarak bawah form */
}

.scan input[type="file"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px; /* Sudut lengkung border */
  margin-right: 10px; /* Jarak kanan input */
}

.scan button[type="submit"] {
  background-color: #0097c5; /* Warna latar belakang button */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 3px; /* Sudut lengkung border */
  cursor: pointer;
}

.scan img {
  max-width: 300px; /* Lebar maksimum gambar */
  margin-bottom: 10px; /* Jarak bawah gambar */
}

.scan p {
  font-weight: bold;
}

/* Media Queries */

/* Laptop */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}
/* Tablet */
@media (max-width: 768px) {
  html {
    font-size: 62.5%;
  }

  #hamburger-menu {
    display: inline-block;
  }
  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: #27374d;
    width: 15rem;
    height: 20rem;
    transition: 0.3s;
  }
  .navbar .navbar-nav.active {
    right: 0;
  }

  .navbar .navbar-nav a {
    color: var(--bg);
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2 rem;
  }

  .about .row {
    flex-wrap: wrap;
  }

  .contact .row {
    flex-wrap: wrap;
  }

  .contact .row .map {
    height: 30rem;
  }
}
/* Mobile Phone */
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
}
